{
  "provider": "fantastic_linkedin",
  "rapidApiKey": "YOUR API KEY",
  "requestTimeout": 30,
  "maxRetries": 3,
  "ai": {
    "minScore": 60
  },
  "providers": {
    "fantastic_linkedin": {
      "search": {
        "time_frame": "24h",
        "limit": 25,
        "offset": 0,
        "description_format": "text",
        "title": "Contador Auditor",
        "location": "Chile"
      }
    },
    "linkedin_data_scraper": {
      "jobQuery": "Contador Auditor",
      "jobLocation": "chile",
      "searchLocationId": "104621616",
      "workplaceType": "2",
      "sortBy": "DD",
      "jobType": "F",
      "page": "1",
      "easyApply": "false"
    }
  }
}
